.book-viewer {
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.book-viewer__page-viewer {
  display: flex;
  flex-direction: row;
}

.book-viewer__page-viewer__thumbnails {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 10px;
}

.book-viewer__page-viewer__main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}